<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Carrito | ComeGato</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body class="bodycart">
    <%- include('partials/header')%>

    <div class="cart_section">
        <div class="container-fluid">
            <% if(items.length != 0) { %>
                <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                        <div class="cart_container">
                            <div class="cart_title">Mi Carrito<small> 
                                <% if (items.length > 1) { %>
                                    (<%=items.length%> productos añadidos)
                                <% } else { %>
                                    (<%=items.length%> producto añadido)
                                <% } %>
                                 </small>
                            </div>
                            <div class="cart_items">
                                <ul class="cart_list ul-cart">
                                    <% items.forEach(item => { %>
                                        <li class="cart_item clearfix">
                                            <div class="cart_item_image">
                                                <img src="/images/<%=item.product.img%>" alt="<%= item.product.name %>">
                                            </div>
                                            <div class="cart_item_info d-flex flex-md-row flex-column justify-content-between">
                                                <div class="cart_item_name cart_info_col">
                                                    <div class="cart_item_title">Nombre</div>
                                                    <div class="cart_item_text"><%=item.product.name %></div>
                                                </div>
                                                <div class="cart_item_quantity cart_info_col">
                                                    <div class="cart_item_title">Cantidad</div>
                                                    <div class="cart_item_text"><%= item.quantity %></div>
                                                </div>
                                                <div class="cart_item_price cart_info_col">
                                                    <div class="cart_item_title">Precio</div>
                                                    <div class="cart_item_text">$<%= item.price; %></div>
                                                </div>
                                                <div class="d-flex align-items-center" id='deletebutton'>
                                                    <form action="/deleteFromCart" method="POST">
                                                        <input type="hidden" name="idItem" value="<%= item.id %>">
                                                        <button type="submit" class="action-button delete">
                                                            <img src="images/delete.png" width="20px" height="20px"  alt="">
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </li>     
                                    <% }); %>
                                </ul>
                            </div>
    
                            <div class="order_total">
                                <div class="order_total_content text-md-right">
                                    <div class="order_total_title">Total:</div>
                                    <div class="order_total_amount">$<%= items.reduce((total, item) => total + item.subTotal, 0) %></div>
                                </div>
                            </div>
                            <div class="cart_buttons"> 
                                <form action="/shop" method="POST">
                                    <input type="hidden" name="idUser" value="">
                                    <button type="submit" class="buttoncart cart_button_clear">Finalizar Compra</button> 
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            <% } else { %>
                <h1 class="col-12 emptyCart"> Tu carrito esta vacío.</h1>
                <div>
                    <img class="emptyImg" src="/images/empty-box.png" alt="emptybox">
                </div>
           <% } %>
            
        </div>
    </div>

  <%- include('partials/footer')%>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
        $('#deletebutton').click( function(){
           
        });
    </script>
</body>
</html>