<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <%- include('partials/header')%>
    <div class="mainregister-container">
    <div class="mainbox-container">
        <h1>Estás editando: <i><%= product.name %></i></h1>

        <form method="POST" enctype="multipart/form-data">
          <div class="row product-detail">
            <div class="col-12 col-md-6">
              <label for="name" class="form-label">Nombre del producto:</label>
              <input class="form-control" type="text" id="name" name="name" placeholder="Ej: Abbey Road - The Beatles" class="form-input" value="<%= product.name %>">
              <p class="error"><%= typeof errors == 'undefined' ? '' : errors.name ? errors.name.msg : '' %></p>
            </div>
            <div class="col-12 col-md-6">
              <label for="name" class="form-label">Descripción del producto:</label>
              <input class="form-control" type="text" id="description" name="description" class="form-input" value="<%= product.description %>">
              <p class="error"><%= typeof errors == 'undefined' ? '' : errors.description ? errors.description.msg : '' %></p>
            </div>
            <div class="col-12 col-md-6">
              <label for="price" class="form-label">Precio del producto:</label>
              <input class="form-control" type="text" id="price" name="price" placeholder="Ej: 1000" class="form-input" value="<%= product.price %>">
              <p class="error"><%= typeof errors == 'undefined' ? '' : errors.price ? errors.price.msg : '' %></p>
            </div>
            <div class="col-12 col-md-6">
              <div class="row">
                <label for="image" class="form-label col-12">Imagen:</label>
                <input type="file" id="image" name="image" class="form-file col-12">
                <div class="col-12">
                  <p class="error"><%= typeof errors == 'undefined' ? '' : errors.image ? errors.image.msg : '' %></p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <label for="category" class="form-label">Categoría:</label>
              <select name="category" id="category" class="form-input">
                <option value="" selected disabled>Elige:</option>
                <% categories.forEach(category => { %>
                  <option value="<%= category.id %>"><%= category.name %></option>
                <% }) %>
              </select>
              <p class="error"><%= typeof errors == 'undefined' ? '' : errors.category ? errors.category.msg : '' %></p>
            </div>
            <div class="mt-5 col-12">
              <button type="submit" class="buy-now-button">Guardar Producto</button>
            </div>
          </div>
        </form>

    </div>
    </div>
    
    <%- include('partials/footer')%>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   
</body>
</html>