<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <%- include('partials/header')%>
    <div class="mainregister-container">
    <div class="mainbox-container">
        <h1>¡Ingresa tus datos para comenzar a comprar!</h1>
        <form method='POST' autocomplete="off">
            <div class="form-group">
                <label for="name">Nombre</label>
                <input name='name' type="text" class="form-control" required><%= typeof errors == 'undefined' ? null : errors.username ? errors.username.msg : null %>
            </div>
            <div class="form-group">
                <label for="surname">Apellido</label>
                <input name='surname' type="text" class="form-control" required><%= typeof errors == 'undefined' ? null : errors.username ? errors.username.msg : null %>
            </div>
            <div class="form-group">
                <label for="address">Provincia</label>
                <select name='address' type='text' class="form-control">
                  <option>Ciudad Autónoma de Buenos Aires</option>
                  <option>Provincia de Buenos Aires</option>
                </select>
              </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email</label>
              <input name="email" type="text" class="form-control" aria-describedby="emailHelp" autocomplete="off" required>
              <p class="error">
                <%= typeof errors == 'undefined' ? null : errors.email ? errors.email.msg : null %>
              </p>
              <small id="emailHelp" class="form-text text-muted">Nunca compartiremos tus datos con nadie.</small>
            </div>
            <div class="form-group">
              <label for="password">Contraseña</label>
              <input name='password' type="password" class="form-control" required>
              <p class="error">
                <%= typeof errors == 'undefined' ? null : errors.password ? errors.password.msg : null %>
              </p>
            </div>
            <button type="submit" class="btn btn-primary">Registrarme</button>
          </form>
    </div>
    </div>
    
    <%- include('partials/footer')%>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   
</body>
</html>